name: gitleaks
on: [pull_request, push, workflow_dispatch]

jobs:
  scan:
    name: Gitleaks Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }} # Only for orgs
        with:
          args: >
            detect
            --repo-path=.
            --redact
            --config-path=.gitleaks.toml
            --report-path=gitleaks-report-${{ github.run_id }}.json
            --report-format=json
            --exit-code=2
